:root{
    --white: #f8f8f8;
    --gray: #bfbfbf;
    --black: #2f2f2f;
    --red: #ff0000;
    --green: #00ff00;
    --blue: #0000FF;

    --backgroundColor: var(--white);
    --borderColor0: var(--black);
    --borderColor1: var(--gray);
    --borderColor01: #8f8f8f;
    --empBorderColor: var(--red);

    --upcomingColor: #ffe8e8;
    --runningColor: #e8ffe8;
    --recentColor: #e8e8ff;

    --diffGray: #808080;
    --diffBrown: #784315;
    --diffGreen: #377e22;
    --diffCyan: #56bdbf;
    --diffBlue: #0000f5;
    --diffYellow: #c0c03d;
    --diffOrange: #ef8733;
    --diffRed: #ea3323;
    
    --button-width: 48px;
    --button-height: 24px;
    --button-margin: calc(var(--button-height) / 10);

    --displayView: block;
    --displayEdit: none;
}
body{
    background-color: var(--backgroundColor);
}

header .selector{
    margin: 3em 0 1em;
    border-bottom: 1px solid var(--borderColor0);
}
header .selector ul{
    margin: 0 auto 0 0;
    display: flex;
    justify-content: flex-start;
}
header .selector li{
    margin: 0;
    list-style-type: none;
}
header .selector .nav-item{
    width: 10em;
    height: 2em;
    border-radius: 0.2em 0.2em 0 0;
    position: relative;
}
header .selector p{
    margin-top: 0.5em;
    text-align: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}
header .selector a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header .selector .nav-item {
    border: 1px solid var(--borderColor1);
    border-bottom: 1px solid var(--backgroundColor);
}
header .selector .active-box {
    border: 1px solid var(--borderColor0);
    border-bottom: 1px solid var(--backgroundColor);
}
header .selector .nav-item:hover{
    border: 1px solid var(--empBorderColor);
    border-bottom: 1px solid var(--backgroundColor);
}


main{
    width: 98%;
    margin: auto;
}
main #right-bottom{
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 2em;
    /* width: 4em; */
    /* height: 2em; */
    border-radius: 1em;
    border: 1px solid var(--borderColor0);
    background-color: var(--white);
    padding: 1em;
}
main #right-bottom #clock{
    margin: auto;
    font-size: 0.8em;
}

.diffGray{
    background-color: var(--diffGray);
}
.diffBrown{
    background-color: var(--diffBrown);
}
.diffGreen{
    background-color: var(--diffGreen);
}
.diffCyan{
    background-color: var(--diffCyan);
}
.diffBlue{
    background-color: var(--diffBlue);
}
.diffYellow{
    background-color: var(--diffYellow);
}
.diffOrange{
    background-color: var(--diffOrange);
}
.diffRed{
    background-color: var(--diffRed);
}


/* スライドボタンここから */
.switch-container {
    display: flex;
    align-items: center;
}

.switch-label {
    margin: auto 0;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: calc(var(--button-height) / 2);
    /* border: 1px solid var(--borderColor1); */
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(var(--button-height) - var(--button-margin) * 2);
    width: calc(var(--button-height) - var(--button-margin) * 2);
    left: var(--button-margin);
    bottom: var(--button-margin);
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(calc(var(--button-width) - var(--button-height)));
    -ms-transform: translateX(calc(var(--button-width) - var(--button-height)));
    transform: translateX(calc(var(--button-width) - var(--button-height)));
}
/* スライドボタンここまで */

main .listGroup{
    position: relative;
}
main .listGroup a{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--borderColor0);
    border-radius: 0.3em;
}
main .listGroup .listLink:hover{
    border: 1px solid var(--empBorderColor);
}
main .listGroup .listItem{
    margin: 0.3em auto;
    padding: 0 1em;
    display: flex;
    border-radius: 0.3em;
}
main .listGroup .title{
    width: 20%;
}
main .listGroup .time{
    margin: auto;
    font-size: 0.7em;
    width: 15%;
}
main .listGroup .memNum{
    margin: auto;
    font-size: 0.7em;
    width: 2%;
}
main .listGroup .diff{
    margin: auto;
    font-size: 0.7em;
    width: 25%;
    display: flex;
}main .listGroup .diff .diffBox{
    margin: auto 0;
    width: 3em;
    height: 3em;
    border: 1px solid var(--borderColor0);
}
main .listGroup .space{
    width: 2%;
}
main .listGroup .upcomingContest{
    background-color: var(--upcomingColor);
}
main .listGroup .runningContest{
    background-color: var(--runningColor);
}
main .listGroup .recentContest{
    background-color: var(--recentColor);
}


.view{
    display: var(--displayView);
}
.edit{
    display: var(--displayEdit);
}

/* #contestHead{
    height: 14em;
} */
main #contestHead .time{
    display: flex;
}
main #contestHead .time .timeS{
    width: 6em;
}
/* #contestMember{
    height: 10em;
} */
main #members li{
    list-style-type: decimal;
}
/* #contestProblems{
    height: 20em;
} */
main .table{
    width: 100%;
    margin-bottom: 1rem;
    color: var(--black);
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 2px;
    line-height: 1.5;
    border-radius: 10em;
    border: 2px solid var(--borderColor01);
}
main .table th{
    border: 2px solid var(--borderColor01);
}
main .table td{
    border: 2px solid var(--borderColor01);
}
main .proLink{
    background-color: #ffffffbb;
}


.createProBoxGroup{
    display: flex;
}
.editProBoxGroup{
    display: flex;
}
.diffSpace{
    width: 2em;
}
.createProSelect{
    display: block;
}
.createProText{
    display: none;
    width: 6em;
}
.editProSelect{
    display: block;
}
.editProText{
    display: none;
    width: 6em;
}